<div class="app">

    <!-- Navbars -->
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center">
            <span>首 页</span>
        </div>
    </div>

    <div class="app-body">
        <div class="app-content">
            <div class="scrollable">
                <div class="scrollable-content">
                    <div>
                        <div class="well" style="height:200px; margin-top: 20px">
                            图片新闻
                        </div>
                    </div>

                    <div>
                        <div class="well" style="height:80px;">
                            操作
                        </div>
                    </div>

                    <div>
                        <div class="btn-group justified nav-tabs">
                            <a class="btn btn-default" href="#Tab1" toggle="on" active-class="active">
                        通知通告
                    </a>

                            <a class="btn btn-default" href="#Tab2" toggle="on" active-class="active">
                        集团新闻
                    </a>
                        </div>

                        <div class="tab-content">
                            <div class="tab-pane" toggleable active-class="active" default="active" id="Tab1" exclusion-group="myTabs">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="item in notices track by $index">
                                        <span class="news-text">{{item.text}}{{$index}}</span>
                                        <span class="news-date pull-right" ng-bind="item.date"></span>
                                    </li>
                                    <li class="list-group-item text-center">
                                        <a href="javascript:void(0)" ng-click="loadMore('notice', '通知通告')">
                                    加载更多
                                </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-pane" toggleable active-class="active" id="Tab2" exclusion-group="myTabs">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="item in news track by $index">
                                        <span class="news-text">{{item.text}}{{$index}}</span>
                                        <span class="news-date pull-right" ng-bind="item.date"></span>
                                    </li>
                                    <li class="list-group-item text-center">
                                        <a href="javascript:void(0)" ng-click="loadMore('news','集团新闻')">
                                    查看更多
                                </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
