<div class="app">

    <!-- Navbars -->
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center">
            <span ng-bind="title"></span>
        </div>

        <div class="btn-group pull-left">
            <div class="btn btn-navbar" hori-history-back><i class="fa fa-long-arrow-left"></i></div>
        </div>
    </div>

    <div class="app-body">
        <div hori-scroll on-pull-up='refresh()' is-up-loaded="isLoading">
            <div class="list-group">
                <a href="javascript:void(0)" class="list-group-item" ng-repeat="item in news track by $index" ng-click="loadDetail(item)">
                    <span class="news-text">{{item.text}}{{$index}}</span>
                    <span class="news-date pull-right" ng-bind="item.date"></span>
                </a>
            </div>
        </div>
    </div>
</div>