<div class="app">
    <!-- Navbars -->
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center">
            <span ng-bind="title"></span>
        </div>

        <div class="btn-group pull-left">
            <div class="btn btn-navbar" hori-history-back> <i class="fa fa-long-arrow-left"></i>
            </div>
        </div>
    </div>

    <div class="app-body">
        <div hori-scroll>
            <div class="panel panel-default">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 control-label">物品编号：</label>
                        <div class="col-xs-8 col-sm-10">
                        <input type="text" class="form-control" placeholder="" ng-model="queryStr" 
                        ng-keypress="($event.which === 13 || $event.keyCode === 13)?query(queryStr):0">
                        </div>
                     </div>
                </form>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 control-label">物品编码：</label>
                        <div class="col-xs-8 col-sm-10">{{obj.itemID}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 control-label">物品名称：</label>
                        <div class="col-xs-8 col-sm-10">{{obj.itemName}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 control-label">物品价格：</label>
                        <div class="col-xs-8 col-sm-10">{{obj.itemPrice}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 control-label">物品数量：</label>
                        <div class="col-xs-8 col-sm-10"><input ng-model="obj.itemCount" type="text" class="ng-scope ng-pristine ng-valid needsclick form-control"/></div>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>
