<div class="login">
    <div class="container">
        <form method="" class="center-margin" action="">
            <h3 class="text-center pad25B font-gray text-transform-upr">协同管理平台
                <span class="opacity-80">v1.0</span>
            </h3>
            <div class="content-box modal-content">
                <div class="content-box-wrapper">

                    <div class="form-group">
                        <label for="username">账 号:</label>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon addon-inside bg-white font-primary">
                                <i class="fa fa-user"></i>
                            </span>
                            <input type="email" placeholder="User Name" id="username" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">密 码:</label>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon addon-inside bg-white font-primary">
                                <i class="fa fa-unlock-alt"></i>
                            </span>
                            <input type="password" placeholder="Password" id="password" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="checkbox-primary col-xs-6 col-md-6">
                            <label class="checkbox">
                                <div class="checker">
                                    <span ng-class="{checked:isRemember}">
                                        <input type="checkbox" class="custom-checkbox" ng-model="isRemember"><i class="fa fa-check"></i>
                                    </span>
                                </div>
                                Remember me
                            </label>
                        </div>
                        <div class="text-right col-xs-6 col-md-6">
                            <a title="Recover password" switch-parent="#login-form" switch-target="#login-forgot" class="switch-button" href="#">Forgot your password?</a>
                        </div>
                    </div>
                </div>
                <div class="button-pane">
                    <button class="btn btn-block" type="submit" ng-click="login()">Login</button>
                </div>
            </div>

        </form>
    </div>
</div>
